<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body px-0 pb-0">
        <div class="d-flex justify-content-between px-3 align-items-center">
          <h5 class="card-title">Parts</h5>
          <div class="w-25 position-relative">
            <i class="bi bi-search search-icon"></i>
            <input type="search" class="form-control product-search-control" [(ngModel)]="searchQuery"
              placeholder="Search Part Number or Ref number" name="" id="">

          </div>


          <button type="button" class="btn save-btn mb-3 float-end" data-bs-toggle="modal" (click)="openModal()"
            data-bs-target="#exampleModal">
            Add <i class="bi bi-plus-lg"></i>
          </button>

        </div>

        <div class="table-responsive category_table position-relative">

          <table class="table table-bordered mb-0">
            <thead class="thead-bg">
              <tr class="thead-bg">
                <th scope="col" class="table-header" style="width: 50px;">Action</th>
                <th scope="col" class="table-header" style="width: 100px;">Name</th>
                <th scope="col" class="table-header" style="width: 112px;">Part Number</th>
                <th scope="col" class="table-header" style="width: 100px;">Part description</th>
                <th scope="col" class="table-header" style="width: 110px;">Super ss number</th>
                <th scope="col" class="table-header" style="width: 50px;">Weight</th>
                <th scope="col" class="table-header" style="width: 120px;">Hs code</th>
                <th scope="col" class="table-header" style="width: 100px;">Remain part number</th>
                <th scope="col" class="table-header" style="width: 50px;">Coo</th>
                <th scope="col" class="table-header" style="width: 90px;">Ref no</th>
                <th scope="col" class="table-header" style="width: 60px;">Image</th>
                <th scope="col" class="table-header" style="width: 80px;">Category</th>
                <th scope="col" class="table-header" style="width: 90px;">Sub category</th>
                <th scope="col" class="table-header" style="width: 90px;">Dimension</th>
                <th scope="col" class="table-header" style="width: 90px;">Compatible for <br> engine models</th>
                <th scope="col" class="table-header" style="width: 90px;">Available <br> Location</th>
                <th scope="col" class="table-header" style="width: 90px;">Price</th>




              </tr>
            </thead>
            <tbody>
              <!-- Shimmer Loading Placeholder -->
              <ng-container *ngIf="isLoading; else dataRows">
                <tr *ngFor="let _ of [].constructor(5)">
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell" style="width: 60px; height: 40px;"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                  <td>
                    <div class="shimmer shimmer-cell"></div>
                  </td>
                </tr>
              </ng-container>

              <!-- Actual Data Rows -->
              <ng-template #dataRows>
                <tr
                  *ngFor="let item of Parts | search: searchQuery:['part_number','ref_no'] | paginate: { itemsPerPage: 50, currentPage: currentPage }; trackByIndex: ">
                  <td><i class="bi bi-trash3 btn btn-danger" style="padding: 3px 6px;"
                      (click)="deleteParts(item.id)"></i>
                    <i class="bi bi-pencil-fill btn btn-success ms-2" style="padding: 3px 6px;" data-bs-toggle="modal"
                      data-bs-target="#updateModal" (click)="updateParts(item.id)"></i>
                  </td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.part_number }}</td>
                  <td>{{ item.part_description }}</td>
                  <td>{{ item.super_ss_number }}</td>
                  <td>{{ item.weight }}</td>
                  <td>{{ item.hs_code }}</td>
                  <td>{{ item.remain_part_number }}</td>
                  <td>{{ item.coo }}</td>
                  <td>{{ item.ref_no }}</td>
                  <td>
                    @if (item.image) {

                    <img src="{{ item.image }}" class="cat-img" width="100%" height="100%" alt="">
                    }@else {

                    <img src="assets/Products/noproduct.jpg" class="cat-img" width="100%" height="100%" alt="">
                    }

                  </td>
                  <td>{{ item.main_category }}</td>
                  <td>{{ item.sub_category }}</td>

                  <td>{{ item.dimension }}</td>
                  <td>{{ item.compatible_engine_models }}</td>
                  <td>{{ item.available_location }}</td>
                  <td>{{ item.price }}</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <div class="pagination-controls">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal add_product-modal" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Parts</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="addParts()">
        <div class="modal-body">
          <div class="row">
            <!-- Category Name Input -->
            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="categories" class="form-label">Select Category</label>
              <select name="categoryName" class="form-select" id="categories" [(ngModel)]="main_category">
                <option value="" selected disabled>Select Category</option>
                @for (item of categories; track $index) {

                <option value="{{item.category_name}}" class="option">{{item.category_name}}</option>
                }
              </select>
            </div>

            <!-- Image File Input -->
            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="SubcategoryName" class="form-label">Select Sub category</label>
              <select name="SubcategoryName" class="form-select" id="SubcategoryName" [(ngModel)]="sub_category">
                <option value="" selected disabled>Select Sub category</option>
                @for (item of subCategories; track $index) {

                <option value="{{item.Sub_category_name}}" class="option">{{item.Sub_category_name}}</option>
                }
              </select>
            </div>



            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter Name"
                id="name" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="part_number" class="form-label">Part Number</label>
              <input type="text" class="form-control" [(ngModel)]="part_number" name="part_number"
                placeholder="Enter  Name" id="part_number" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="itemName" class="form-label">Part description</label>
              <input type="text" class="form-control" [(ngModel)]="part_description" name="part_description"
                placeholder="Enter description" id="part_description" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="super_ss_number" class="form-label">Super ss number</label>
              <input type="text" class="form-control" [(ngModel)]="super_ss_number" name="super_ss_number"
                placeholder="Enter super ss number" id="super_ss_number" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="weight" class="form-label">weight</label>
              <input type="text" class="form-control" [(ngModel)]="weight" name="super_ss_number"
                placeholder="Enter weight" id="weight" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="hs_code" class="form-label">hs_code</label>
              <input type="text" class="form-control" [(ngModel)]="hs_code" name="hs_code" placeholder="Enter hs code"
                id="hs_code" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="remain_part_number" class="form-label">remain_part_number</label>
              <input type="text" class="form-control" [(ngModel)]="remain_part_number" name="remain_part_number"
                placeholder="Enter remain part number" id="remain_part_number" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="coo" class="form-label">Coo</label>
              <input type="text" class="form-control" [(ngModel)]="coo" name="coo" placeholder="Enter super ss number"
                id="coo" />
            </div>
            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="ref_no" class="form-label">Ref no</label>
              <input type="text" class="form-control" [(ngModel)]="ref_no" name="ref_no"
                placeholder="Enter super ss number" id="ref_no" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="dimension" class="form-label">Dimension</label>
              <input type="text" class="form-control" [(ngModel)]="dimension" name="dimension"
                placeholder="Enter Dimension" id="dimension" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="compatible_engine_models" class="form-label">Compatible Engine Models</label>
              <input type="text" class="form-control" [(ngModel)]="compatible_engine_models"
                name="compatible_engine_models" placeholder="Enter Compatible Engine Models"
                id="compatible_engine_models" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="available_location" class="form-label">Available Location</label>
              <input type="text" class="form-control" [(ngModel)]="available_location" name="available_location"
                placeholder="Enter Available location" id="available_location" />
            </div>

             <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" [(ngModel)]="price" name="price"
                placeholder="Enter Price" id="price" />
            </div>



            <!--
            <div class="mb-3 col-lg-12 col-md-12 col-12">
              <label for="selectedFile" class="form-label">Image</label>
              <input type="file" class="form-control" #imageInput (change)="onFilesSelected($event)" name="selectedFile"
                placeholder="" id="selectedFile"   />
            </div> -->


            <div class="mb-3 col-lg-6 col-md-12 col-12">
              <label for="selectedFile" class="form-label">Image</label>
              <input type="file" class="form-control"  #fileInput (change)="onFileChange($event)" multiple id="selectedFiles" name="selectedFiles" />

               <div class="d-flex flex-wrap mt-3">
              <div *ngFor="let img of imagePreviews; let i = index" class="me-2 mb-2 text-center position-relative">
                <img [src]="img" alt="preview" width="90" height="90" class="rounded border" />
                 <a type="button" class="btn btn-sm btn-danger removepreviewimage-btn" (click)="removeImage2(i)"><i class="bi bi-x"></i></a>
                <p class="small">Image {{ i+1 }}</p>
              </div>
            </div>
            </div>



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
          <button type="submit" class="btn save-btn" data-bs-dismiss="modal">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal add_product-modal" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModal">Edit Parts</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="updateitem()">
        <div class="modal-body">
          <div class="row">
            <!-- Category Name Input -->
            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="categories" class="form-label">Select Category</label>
              <select name="categoryName" class="form-select" id="categories" [(ngModel)]="main_category">
                <option value="" selected disabled>Select Category</option>
                @for (item of categories; track $index) {

                <option [value]="item.category_name" class="option">{{item.category_name}}</option>
                }
              </select>
            </div>

            <!-- Image File Input -->
            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="SubcategoryName" class="form-label">Select Sub category</label>
              <select name="SubcategoryName" class="form-select" id="SubcategoryName" [(ngModel)]="sub_category">
                <option value="" selected disabled>Select Sub category</option>
                @for (item of subCategories; track $index) {

                <option [value]="item.Sub_category_name" class="option">{{item.Sub_category_name}}</option>
                }
              </select>
            </div>



            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter Name"
                id="name" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="part_number" class="form-label">Part Number</label>
              <input type="text" class="form-control" [(ngModel)]="part_number" name="part_number"
                placeholder="Enter  Name" id="part_number" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="itemName" class="form-label">Part description</label>
              <input type="text" class="form-control" [(ngModel)]="part_description" name="part_description"
                placeholder="Enter description" id="part_description" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="super_ss_number" class="form-label">Super ss number</label>
              <input type="text" class="form-control" [(ngModel)]="super_ss_number" name="super_ss_number"
                placeholder="Enter super ss number" id="super_ss_number" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="weight" class="form-label">weight</label>
              <input type="text" class="form-control" [(ngModel)]="weight" name="super_ss_number"
                placeholder="Enter weight" id="weight" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="hs_code" class="form-label">hs_code</label>
              <input type="text" class="form-control" [(ngModel)]="hs_code" name="hs_code" placeholder="Enter hs code"
                id="hs_code" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="remain_part_number" class="form-label">remain_part_number</label>
              <input type="text" class="form-control" [(ngModel)]="remain_part_number" name="remain_part_number"
                placeholder="Enter remain part number" id="remain_part_number" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="coo" class="form-label">Coo</label>
              <input type="text" class="form-control" [(ngModel)]="coo" name="coo" placeholder="Enter super ss number"
                id="coo" />
            </div>
            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="ref_no" class="form-label">Ref no</label>
              <input type="text" class="form-control" [(ngModel)]="ref_no" name="ref_no"
                placeholder="Enter super ss number" id="ref_no" />
            </div>


            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="dimension" class="form-label">Dimension</label>
              <input type="text" class="form-control" [(ngModel)]="dimension" name="dimension"
                placeholder="Enter Dimension" id="dimension" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="compatible_engine_models" class="form-label">Compatible Engine Models</label>
              <input type="text" class="form-control" [(ngModel)]="compatible_engine_models"
                name="compatible_engine_models" placeholder="Enter Compatible Engine Models"
                id="compatible_engine_models" />
            </div>

            <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="available_location" class="form-label">Available Location</label>
              <input type="text" class="form-control" [(ngModel)]="available_location" name="available_location"
                placeholder="Enter Available location" id="available_location" />
            </div>

             <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" [(ngModel)]="price" name="price"
                placeholder="Enter Price" id="price" />
            </div>





            <!-- <div class="mb-3 col-lg-6 col-md-6 col-12">
              <label for="selectedFile" class="form-label">Image</label>
              <input type="file" class="form-control" #imageupdate (change)="onFileSelected($event)" name="selectedFile" id="selectedFile" />

              <div class="mt-3">
                <img [src]="previewImage || 'assets/Products/noproduct.jpg'" alt="Preview" class="img-thumbnail" style="max-width: 150px; max-height: 150px;" />
              </div>
            </div> -->



             <div class="mb-3 col-lg-6 col-md-12 col-12">
              <label for="selectedFile" class="form-label">Image</label>
              <input type="file" class="form-control"  #fileInput (change)="onFileChange($event)" multiple id="selectedFiles" name="selectedFiles" />

              <div class="d-flex flex-wrap mt-3">
              <div *ngFor="let img of imagePreviews; let i = index" class="me-2 mb-2 text-center position-relative">
                <img [src]="img" alt="preview" width="90" height="90" class="rounded border" />
                 <a type="button" class="btn btn-sm btn-danger removepreviewimage-btn" (click)="removeImage2(i)"><i class="bi bi-x"></i></a>
                <p class="small">Image {{ i+1 }}</p>
              </div>
            </div>
            </div>






          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
          <button type="submit" class="btn save-btn" data-bs-dismiss="modal" [disabled]="isLoading">
            @if (isLoading) {
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Loading...
            }
            <span *ngIf="!isLoading">Update</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
