
<section class="breadcrumb-sec" style="background-color: #c4c4c4;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
  </nav>


</section>


<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card contact_form-card">
            <h1 class="text-center h3 contact-title text-white">Contact Details</h1>
          <form class="card-body  contact_form-card-body">
            <div class="my-4 py-3">
              <input type="text" name="name" class="form-control contact_form-input" autocomplete="off" id="name" placeholder="Name" >
            </div>
            <div class="my-4 py-3">
              <input type="text" name="phone" class="form-control contact_form-input" autocomplete="off" id="Email" placeholder="Phone" >
            </div>
            <div class="my-4 py-3">
              <input type="email" name="email" class="form-control contact_form-input" autocomplete="off" id="Email" placeholder="Email ID" >
            </div>

            <div class="my-4 py-3">
              <textarea class="form-control contact_form-input" autocomplete="off" placeholder="Message" id="Message"></textarea>

            </div>
            <div class="text-center">

              <button type="submit" class="btn send-btn text-uppercase">Send Message</button>
            </div>
          </form>

        </div>
      </div>

      <div class="col-lg-6 col-sm-12 col-12">
        <div class="company-info-wrapper">
          <h2 class="h2">GET IN TOUCH WITH US</h2>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae voluptatibus, quod quas soluta ipsum, beat dolor nostrum dolore, tempora atque similique explicabo amet tenetur.</p>


          <ul class="ps-0">
            <li class="contact-item py-3"><a href="mailto:info@gmail.com" class=""><i class="bi bi-envelope me-2"></i> info&#64;email.com</a> </li>
            <li class="contact-item py-3"><a href="+966989898989" class=""><i class="bi bi-phone me-2"></i> +966 987653210</a> </li>
            <li class="contact-item py-3" class="d-flex"><i class="bi bi-building-fill me-2"></i> <p>
              <span class="">Lorem Ipsum (Head Office)</span>
              <br>
              Registered Office- Head Office <br>
              Lorem ipsum - 678 678
            </p> </li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</section>


