.contact_form-card{
  background-color: var(--primary);
    border: none;
    border-radius: 0;
    position: relative;
    padding: 60px;
    top: -91px;


  .contact_form-input{
    border:  none;
    background-color: transparent;
    border-bottom:1px solid  #ffffff;
    border-radius:  0;
  color: #ffffff;
    &:focus  {
      box-shadow:  none !important;
      outline: none !important;
      border-bottom: 1px solid #0995d6;
    }

    &:hover{
      box-shadow:  none !important;
      outline: none !important;
    }

  }
  .contact_form-input::placeholder{
    color: #fff !important;
    font-size: 17px;

  }
  .send-btn{
    background-color: #ffffff;
    color: var(--primary);
    font-weight: 600;
    padding: 16px 50px;
    border-radius: 0;
    font-size: 17px;
    &:hover {
      background-color: var(--secondary);
      color: #fff;
    }
  }
}
.contact-section
{
  padding-bottom: 80px;
}


.company-info-wrapper{
  padding-top: 80px;
  padding-left: 30px;
@media screen and (max-width:992px) {
  padding-top: 20px;
}

  .contact-item {
    a{
      color: #313131;
      &:hover {
        color: var(--primary);
      }
    }
  }
}
.getin-para{

font-size: 18px;
color: rgba(49, 49, 49, 0.80);
font-weight: 400;
.company-title{
  color: rgba(49, 49, 49, 0.80);
  font-weight: 600;

}
}
.error{
  font-size:13px;
  margin-top: 2px;
}
