.fixed-top {
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.navbar {
  .nav-item {
    padding: 9px 19px;
    font-size: 17px;
  }
}

.top-header {
  .nav-item {
    .nav-link {
      color: #313131;
      padding: 8px;


    }
  }
}
.nav-link.active{
  color: var(--primary);
  font-weight: 700;
}
#header {
 .navbar{
  .navbar-nav{
    .nav-item{
      .nav-link {
        font-family: var(--secondary-font);
        font-size: 17px;
        &:hover{
          color: var(--primary);
          font-weight: 700;
        }
      }
    }
  }
 }
}
.cnct-box{
  .conct-item{
    .nav-link {
      font-size: 13px;
      padding-top: 12px;
      padding-bottom: 0;
      &:hover{
        color: var(--primary);
      }
    }
  }
}
.scl-icon{
  transition: all ease 0.3s;
  transform: translateY(0px);
  &:hover {
    transition: all ease 0.3s;
    transform: translateY(-5px);
  }
}


.fixed-top {
  transition: all 0.5s;
}
.btn {
  &:hover {
    box-shadow:  none;
    outline: none;
  }
  &:focus{
    box-shadow:  none;
    outline: none;
  }
}
.navbar-toggler-icon{
  color: var(--primary);
}
.offcanvas-body
{

  
  .navbar-nav
{
  display: flex; align-items: center;
  justify-content: center;
  height: 83vh;
}
  .nav-link{
    color: #fff;
    font-size: 33px;
    padding: 30px;
    &:hover {
      color: var(--secondary);
    }
  }
}
