.fixed-top{
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.navbar{
  .nav-item {
    padding: 9px 19px;
    font-size: 17px;
  }

}

.top-header{
    .nav-item{
      .nav-link {
        color: #000;
        
      }
    }
}
