<section class="breadcrumb-sec" style="background-color: #eee;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
  </nav>


</section>


<section class="py-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="product Single-image" style="height: 300px; background-color: tan;">
          <img src="" class="" alt="">
        </div>
        <ul class="product-items-wrapper ps-0 d-flex gap-3 mt-3">
          <li class="" style="height: 80px; width: 100px; background-color: tan; flex: 1 auto;">
              item
          </li>
          <li class="" style="height: 80px; width: 100px; background-color: tan; flex: 1 auto;">
            item
        </li>
        <li class="" style="height: 80px; width: 100px; background-color: tan; flex: 1 auto;">
          item
      </li>
        </ul>
      </div>
      <div class="col-lg-8 col-12">

        <div class="product-info-wrapper">
          <h3 class="prouduct-title"> Product Name</h3>
          <ul class="ps-0">
            <li class="d-flex gap-4">
              <p class="info-title">Description:</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicin fuga. </p>
            </li>
            <li class="d-flex gap-4">
              <p class="info-title">Supersed :</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing. </p>
            </li>

            <li class="d-flex gap-4">
              <p class="info-title">Weight :</p>
              <p>Lorem ipsum dolor</p>
            </li>

            <li class="d-flex gap-4">
              <p class="info-title">HS Code#:</p>
              <p>Lorem ipsum dolor</p>
            </li>

            <li class="d-flex gap-4">
              <p class="info-title">Co Orgin#:</p>
              <p>Lorem ipsum dolor</p>
            </li>

            <li class="d-flex gap-4">
              <p class="info-title">FG  Wilson Referencr:</p>
              <p>Lorem ipsum dolor</p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



