<div id="wrapper" [class.toggled]="isToggled">

  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <img src="assets/logo-header.svg" alt="" width="100" height="38" >
    </div>
    <ul class="sidebar-nav">
      <li class="" routerLinkActive="active"  [routerLinkActiveOptions]="{exact :true}">
        <a routerLink="/admin"><i class="sidemenu-icons bi bi-bookmark"></i> Categories</a>
      </li>


      <li routerLinkActive="active">
        <a routerLink="/admin/subcategories"><i class="sidemenu-icons bi bi-bookmarks"></i> Sub Categories</a>
      </li >
      <li routerLinkActive="active">
        <a routerLink="/admin/parts"><i class="sidemenu-icons bi bi-archive"></i> Parts</a>
      </li>
      <li class="" routerLinkActive="active" >
        <a routerLink="/admin/banner"><i class="sidemenu-icons bi bi-card-heading"></i> Banners</a>
      </li>

      <li class="" routerLinkActive="active" >
        <a routerLink="/admin/enquiries"><i class="sidemenu-icons bi bi-person-lines-fill"></i> Enquiries</a>
      </li>
    </ul>
  </aside>

  <div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a  class="navbar-brand" id="sidebar-toggle" (click)="toggleSidebar($event)"><i class="bi bi-list"></i></a>
        </div>
        <ul class="nav ps-0">
          <li class="nav-item"><a routerLink="/" class="btn link">View Website <i class="bi bi-globe"></i></a></li>
          <li>
            <a  class="btn logoutbtn" (click)="authService.logout()">Logout <i class="bi bi-box-arrow-right"></i></a>
          </li>
        </ul>

      </div>
    </nav>
  </div>

  <section id="content-wrapper">
    <router-outlet></router-outlet>
  </section>
</div>
