<section class="breadcrumb-sec" style="background-color: #eee;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</section>


<section class="py-80">
  <div class="container">
    <div class="row">


      <div class="col-lg-12 text-center">
        <h1 class="">MORRIS , WHAT MAKES US DIFFRENT</h1>

        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, eos sunt odio minus ipsam enim magnam corrupti
          alias itaque illum fugiat, impedit molestiae neque corporis veritatis omnis ut modi exercitationem?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi deserunt adipisci, dolorum tempora placeat
          accusantium praesentium maiores id iure at molestiae porro quo, hic, voluptate atque quis dignissimos sint!
          Possimus?
        </p>
      </div>
    </div>
  </div>

</section>


<section class="py-80">
  <div class="container-fluid custom-container2">
    <div class="row">

      <div class="col-lg-6">
        <div class="image-wrapper" style="background-color: #eee; height: 600px;"></div>
      </div>

      <div class="col-lg-6 position-relative">
        <div class="image-wrapper" style="    background-color: #ad2b2b;
    height: 522px;
    position: absolute;
    top: 18px;
    right: 0;
    padding: 28px;
    margin-left: -98px;">

          <h4 class="h2">
            About MORRIES
          </h4>


          <p class="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem velit, quod incidunt quidem nemo eius?
            Repudiandae placeat soluta ad consectetur molestias dolores neque fuga, dolore quod eum, dolorum obcaecati
            reiciendis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur iusto rem soluta cum! Repudiandae fugit
            harum accusamus dicta ut. Sit iusto dolorum quas unde placeat cupiditate quia eos officia reiciendis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis necessitatibus suscipit illo quia
            blanditiis ad, amet saepe ea distinctio quibusdam consequuntur! Voluptatem dolores repellendus adipisci
            placeat iusto repellat laudantium in?


          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nihil consectetur voluptatem
            laborum. Vitae, cupiditate dolorem asperiores optio iste blanditiis, sapiente error magnam earum molestias
            repellendus maiores architecto omnis eius.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui temporibus ipsam explicabo aut! Corporis
            praesentium harum itaque ea officiis libero natus, vel maiores perspiciatis magni asperiores commodi
            corrupti fugit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-80 ">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-lg-6 position-relative">
        <div class="image-wrapper" style="    background-color: #ad2b2b;
    height: 522px;
    position: absolute;
    top: 18px;
    left: 0;
    padding: 28px;
    margin-right: -97px;">

          <h4 class="h2">
            The Team
          </h4>


          <p class="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem velit, quod incidunt quidem nemo eius?
            Repudiandae placeat soluta ad consectetur molestias dolores neque fuga, dolore quod eum, dolorum obcaecati
            reiciendis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur iusto rem soluta cum! Repudiandae fugit
            harum accusamus dicta ut. Sit iusto dolorum quas unde placeat cupiditate quia eos officia reiciendis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis necessitatibus suscipit illo quia
            blanditiis ad, amet saepe ea distinctio quibusdam consequuntur! Voluptatem dolores repellendus adipisci
            placeat iusto repellat laudantium in?


          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nihil consectetur voluptatem
            laborum. Vitae, cupiditate dolorem asperiores optio iste blanditiis, sapiente error magnam earum molestias
            repellendus maiores architecto omnis eius.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui temporibus ipsam explicabo aut! Corporis
            praesentium harum itaque ea officiis libero natus, vel maiores perspiciatis magni asperiores commodi
            corrupti fugit.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-wrapper" style="background-color: #eee; height: 600px;"></div>
      </div>


    </div>
  </div>
</section>



<!-- ---mission vision  -->
<section class="py-80">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="text-center">
          <h3 class="h2">MISSION</h3>

          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae soluta enim, odit laborum sunt alias
            quis placeat? Cupiditate architecto fugiat ex ea, ipsum nam dolore, fuga provident illo, accusamus ullam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ullam quia qui sapiente possimus
            vitae cum voluptatem harum officia sit maxime eveniet! Minima quis atque numquam nemo incidunt aperiam
            quidem.
          </p>

        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="text-center">
          <h3 class="h2">VISION</h3>

          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae soluta enim, odit laborum sunt alias
            quis placeat? Cupiditate architecto fugiat ex ea, ipsum nam dolore, fuga provident illo, accusamus ullam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ullam quia qui sapiente possimus
            vitae cum voluptatem harum officia sit maxime eveniet! Minima quis atque numquam nemo incidunt aperiam
            quidem.
          </p>

        </div>
      </div>

    </div>
  </div>

</section>


<section class="py-80">

  <div class="container custom-container3">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-lg-5">
        <app-subscribe/>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-12">

        <div class="image-wrapper" style="height: 400px; background-color: #eee;"></div>

      </div>

    </div>
  </div>
</section>



