<!-- <section class="breadcrumb-sec about-bg">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>


</section> -->


<section class="pt-80">
  <div class="container">
    <div class="row">


      <div class="col-lg-12 text-center">
        <h1 class="section-title pb-2">MORRIS , what makes us different</h1>

        <p class="para" data-aos="fade-right">
          Morris General Trading LLC is a trusted Dubai-based sourcing agent specializing in connecting businesses with
          high-quality products from top global brands. We excel in identifying and procuring a wide range of goods,
          ensuring fast and reliable delivery to meet the unique needs of industries such as construction,
          manufacturing, and power generation.


        </p>
        <p class="para" data-aos="fade-right">
          With a steadfast focus on exceptional service and operational efficiency, Morris General Trading LLC is your
          dependable sourcing partner, delivering quality and value every step of the way to support your business
          goals.

        </p>
      </div>
    </div>
  </div>

</section>


<section class="pt-80">
  <div class="container-fluid custom-container2">
    <div class="row">

      <div class="col-lg-6">
        <div class="aboutpic" style="background-color: #eee; height: 600px;"></div>
      </div>

      <div class="col-lg-6 position-relative">
        <div class="content-box">

          <h4 class="h2 section-title" data-aos="flip-down"> The Team</h4>


          <p class="para" data-aos="fade-down">
            Morris General Trading LLC is a trusted Dubai-based sourcing agent specializing in connecting businesses
            with high-quality products from top global brands. We excel in identifying and procuring a wide range of
            goods, ensuring fast and reliable delivery to meet the unique needs of industries such as construction,
            manufacturing, and power generation.

            With a steadfast focus on exceptional service and operational efficiency, Morris General Trading LLC is your
            dependable sourcing partner, delivering quality and value every step of the way to support your business
            goals.



          </p>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="py-80 ">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-lg-6 position-relative">
        <div class="image-wrapper" style="    background-color: #ad2b2b;
    height: 522px;
    position: absolute;
    top: 18px;
    left: 0;
    padding: 28px;
    margin-right: -97px;">

          <h4 class="h2">
            The Team
          </h4>


          <p class="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem velit, quod incidunt quidem nemo eius?
            Repudiandae placeat soluta ad consectetur molestias dolores neque fuga, dolore quod eum, dolorum obcaecati
            reiciendis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur iusto rem soluta cum! Repudiandae fugit
            harum accusamus dicta ut. Sit iusto dolorum quas unde placeat cupiditate quia eos officia reiciendis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis necessitatibus suscipit illo quia
            blanditiis ad, amet saepe ea distinctio quibusdam consequuntur! Voluptatem dolores repellendus adipisci
            placeat iusto repellat laudantium in?


          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nihil consectetur voluptatem
            laborum. Vitae, cupiditate dolorem asperiores optio iste blanditiis, sapiente error magnam earum molestias
            repellendus maiores architecto omnis eius.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui temporibus ipsam explicabo aut! Corporis
            praesentium harum itaque ea officiis libero natus, vel maiores perspiciatis magni asperiores commodi
            corrupti fugit.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-wrapper" style="background-color: #eee; height: 600px;"></div>
      </div>


    </div>
  </div>
</section> -->



<!-- ---mission vision  -->
<section class="pt-80">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
          <h3 class="h2 section-title pb-2" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our Vision</h3>

          <p class="para">
            Our vision is to become the leading sourcing agent in the region, setting the benchmark for quality,
            reliability, and customer satisfaction. We are committed to empowering industries with seamless, efficient
            sourcing solutions that ensure their operations run smoothly and without interruption.
          </p>

        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
          <h3 class="h2 section-title pb-2">Our Mission</h3>

          <p class="para">
            Our mission is to deliver original, high-quality products with unmatched service and reliability. We are
            dedicated to building enduring partnerships with our clients by providing timely sourcing solutions, expert
            guidance, and an unwavering commitment to excellence in every aspect of our business.
          </p>

        </div>
      </div>

    </div>
  </div>

</section>


<section class="py-80">

  <div class="container">
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 my-lg-5">
        <div class="d-flex justify-content-center align-items-center ">

          <app-subscribe class=" mx-auto subscrbe-sec"></app-subscribe>
        </div>
      </div>



    </div>
  </div>
</section>
