<section class="breadcrumb-sec about-bg">
  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav> -->


</section>


<section class="py-80">
  <div class="container">
    <div class="row">


      <div class="col-lg-12 text-center">
        <h1 class="section-title pb-2">MORRIS , what makes us different</h1>

        <p class="para">
          Morris General Trading LLC is a trusted Dubai-based supplier of genuine spare parts for top brands like FG
          Wilson, Perkins, Volvo Penta, Caterpillar, JCB etc. We ensure fast and reliable delivery of high-quality,
          original components, serving industries like construction, manufacturing, and power generation. With a focus
          on exceptional service and efficiency,
          Morris General Trading LLC is your dependable partner for all your spare parts needs
        </p>
      </div>
    </div>
  </div>

</section>


<section class="py-80">
  <div class="container-fluid custom-container2">
    <div class="row">

      <div class="col-lg-6">
        <div class="aboutpic" style="background-color: #eee; height: 600px;"></div>
      </div>

      <div class="col-lg-6 position-relative">
        <div class="content-box">

          <h4 class="h2 section-title"> The Team</h4>


          <p class="para">
            At Morris General Trading LLC, our team is a group of highly skilled professionals with extensive experience
            in the spare parts industry. We are committed to providing top-notch service, ensuring that our customers
            receive the best genuine components for their machinery. With a deep understanding of the brands we support,
            our team is dedicated to delivering fast and reliable solutions to keep your operations running smoothly.
            From technical support to customer service, we work seamlessly to meet the specific needs of every client,
            ensuring satisfaction at every step


          </p>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="py-80 ">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-lg-6 position-relative">
        <div class="image-wrapper" style="    background-color: #ad2b2b;
    height: 522px;
    position: absolute;
    top: 18px;
    left: 0;
    padding: 28px;
    margin-right: -97px;">

          <h4 class="h2">
            The Team
          </h4>


          <p class="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem velit, quod incidunt quidem nemo eius?
            Repudiandae placeat soluta ad consectetur molestias dolores neque fuga, dolore quod eum, dolorum obcaecati
            reiciendis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur iusto rem soluta cum! Repudiandae fugit
            harum accusamus dicta ut. Sit iusto dolorum quas unde placeat cupiditate quia eos officia reiciendis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis necessitatibus suscipit illo quia
            blanditiis ad, amet saepe ea distinctio quibusdam consequuntur! Voluptatem dolores repellendus adipisci
            placeat iusto repellat laudantium in?


          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nihil consectetur voluptatem
            laborum. Vitae, cupiditate dolorem asperiores optio iste blanditiis, sapiente error magnam earum molestias
            repellendus maiores architecto omnis eius.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui temporibus ipsam explicabo aut! Corporis
            praesentium harum itaque ea officiis libero natus, vel maiores perspiciatis magni asperiores commodi
            corrupti fugit.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-wrapper" style="background-color: #eee; height: 600px;"></div>
      </div>


    </div>
  </div>
</section> -->



<!-- ---mission vision  -->
<section class="pt-80">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="text-center">
          <h3 class="h2 section-title pb-2">Our Vision</h3>

          <p class="para">
            To be the leading supplier of genuine spare parts in the region, setting the standard for quality,
            reliability, and customer satisfaction, while empowering industries with seamless solutions to keep their
            operations running efficiently
          </p>

        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="text-center">
          <h3 class="h2 section-title pb-2">Our Mission</h3>

          <p class="para">
            Our mission is to provide original, high-quality spare parts with unmatched service and reliability. We
            strive to build long-lasting partnerships with our clients by offering timely solutions, expert support, and
            a commitment to excellence in every aspect of our business
          </p>

        </div>
      </div>

    </div>
  </div>

</section>


<section class="py-80">

  <div class="container">
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 my-lg-5">
        <div class="d-flex justify-content-center align-items-center ">

          <app-subscribe class=" mx-auto subscrbe-sec"></app-subscribe>
        </div>
      </div>



    </div>
  </div>
</section>
