<section class="breadcrumb-sec product-bg">

  <h3 class="title text-white text-center">
    IT Networking Products
     <br class=" d-lg-block d-sm-none d-none"> &
     <br class=" d-lg-block d-sm-none d-none">
      Energy Solutions
  </h3>
</section>




<section class="product_section">

  <div class="container">

      <div class="row">
        <div class="col-lg-12 col-12 text-center py-3">
          <h1 class="section-title">Explore Our IT Networking Products & Energy Solutions </h1>

          <p class="section-para">
            Powering Connections, Empowering Businesses.</p>
        </div>
      </div>



    <!-- <div class="row">
      <div class="col-lg-12 mt-3 pt-3">
        <div class="w-50 me-auto position-relative">
          <i class="bi bi-search search-icon"></i>
          <input type="search" class="form-control product-search-control" placeholder="Search by product name or part number" name="" id="">

        </div>
      </div>



    </div> -->

    <!-- <div class="row position-relative" style="min-height: 600px;">
      @if (isLoading) {
        <app-loader/>
      }
      <div class="col-lg-3 mt-3 ">


        <ul class="nav filter-tab flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

         @for (category of cateogories; track $index) {

           <li class="nav-link filter_tab-link "  [class.active]="$index === 0" id="v-{{category.id}}-tab" data-bs-toggle="pill" attr.data-bs-target="#v-pills-{{category.id}}"
            type="button" role="tab" attr.aria-controls="v-{{category.id}}" aria-selected="true">{{category.category_name}}</li>
         }


        </ul>
      </div>

      <div class="col-lg-9 mt-3 ">

        <div class="tab-content " id="v-pills-tabContent">


          @for (item of cateogories; track $index) {

          <div class="tab-pane fade show" [class.active]="$index === 0" id="v-pills-{{item.id}}" role="tabpanel" attr.aria-labelledby="v-pills-{{item.id}}-tab">
            <div class="category_head-bx">
              <img src="{{item.image}}" class="cateogory-icon" width="100" alt="">
             </div>
            <div class="row">



              <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                <div class="card product_card"  routerLink="/product/{{item.category_name}}/Parts">
                  <img src="assets/category/cat1.png" width="100%" height="443" class="" alt="">

                  <div class="product-title-bx">
                    <h4 class="product-title"><a class="title-link text-white" routerLink="/product/{{item.category_name}}/Parts">Parts </a></h4>
                  </div>
                </div>

              </div>

              <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                <div class="card product_card"  routerLink="/product/{{item.category_name}}/Engine">
                  <img src="assets/category/cat2.png" width="100%" height="443" class="" alt="">

                  <div class="product-title-bx">
                    <h4 class="product-title"> <a class="title-link text-white"  routerLink="/product/{{item.category_name}}/Engine">ENGINE</a> </h4>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                <div class="card product_card"  routerLink="/product/{{item.category_name}}/catalogue">
                  <img src="assets/category/cat3.png" width="100%" height="443" class="" alt="">

                  <div class="product-title-bx">
                    <h4 class="product-title"><a class="title-link text-white" routerLink="/product/{{item.category_name}}/catalogue">CATALOGUE</a></h4>
                  </div>
                </div>
              </div>

              </div>

          </div>
        }

          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">

              <div class="col-lg-4 mt-3">
                <div class="card product_card"  routerLink="/products-details">
                  <img src="assets/category/cat1.png" width="100%" height="443" class="" alt="">

                  <div class="product-title-bx">
                    <h4 class="product-title">Engine</h4>
                  </div>
                </div>

              </div>

              <div class="col-lg-4 mt-3">
                <div class="card product_card"  routerLink="/products-details">
                  <img src="assets/category/cat2.png" width="100%" height="443" class="" alt="">

                  <div class="product-title-bx">
                    <h4 class="product-title">PARTS</h4>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 mt-3">
                <div class="card product_card"  routerLink="/products-details">
                  <img src="assets/category/cat3.png" width="100%" height="443" class="" alt="">

                  <div class="product-title-bx">
                    <h4 class="product-title">CATALOGUE</h4>
                  </div>
                </div>
              </div>

              </div>
          </div>




       </div>
      </div>

    </div> -->




    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product1.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >
              Copper Networking Cables </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product2.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >Copper Network Accessories</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product3.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >Indoor Cables  </a></h4>
          </div>
        </div>

      </div>


      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  routerLink="">
          <img src="assets/MORRIES PRODUCTS/product4.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" routerLink="">Loose Tube Distribution Cable  </a></h4>
          </div>
        </div>

      </div>


      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product5.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" > FTTH Terminal Box </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product6.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" > FTTH Terminal Box  </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product7.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" > Fiber Optic Patch Panel </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product8.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >Fiber Optic Breakout Box </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product9.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >Pigtail </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product10.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >Patch Cord  </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card" >
          <img src="assets/MORRIES PRODUCTS/product11.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white">ODF </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product12.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >FO Splitter  </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card" >
          <img src="assets/MORRIES PRODUCTS/product13.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white">Wall Mount Cabinet
            </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card">
          <img src="assets/MORRIES PRODUCTS/product14.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white">Floor Mount Cabinets  </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card" >
          <img src="assets/MORRIES PRODUCTS/product15.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white">High Density Cabinets</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card">
          <img src="assets/MORRIES PRODUCTS/product16.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white"> ONU Cabinets </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card"  >
          <img src="assets/MORRIES PRODUCTS/product17.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white" >LINE INTERACTIVE UPS </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card">
          <img src="assets/MORRIES PRODUCTS/product18.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white">ONLINE SINGLE PHASE UPS </a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card">
          <img src="assets/MORRIES PRODUCTS/product19.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white">Online three phase ups</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
        <div class="card product_card">
          <img src="assets/MORRIES PRODUCTS/product20.png" width="100%" height="100%" class="" alt="">

          <div class="product-title-bx">
            <h4 class="product-title"><a class="title-link text-white">Battery </a></h4>
          </div>
        </div>

      </div>
    </div>






  </div>
</section>
