<section class="breadcrumb-sec product-bg">



</section>
<section class="product_section py-80">

  <div class="container">





    <div class="row">
      <div class="col-lg-12 mt-3 pt-3">
        <div class="category_head-bx">
          <img src="assets/category/Perkins_Logo.svg" class="cateogory-icon" width="100" alt="">

          <h6 class="pt-2">{{categoryTitle}} - {{subcategory}}</h6>


          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/products" class="" >Products</a></li>
              <li class="breadcrumb-item">{{categoryTitle}}</li>
              <li class="breadcrumb-item active" aria-current="page">{{subcategory}}</li>
            </ol>
          </nav>
        </div>




        <div class="w-50 me-auto position-relative">
          <i class="bi bi-search search-icon"></i>
          <input type="search" class="form-control product-search-control" placeholder="Search by product name or part number" name="" id="">

        </div>
      </div>



    </div>

    <div class="row">

      @for (item of products; track $index) {

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
          <div class="card product_card" routerLink="/product">
            <img src="{{item.image}}" width="380px" height="332px" class="product-img" alt="">

            <div class="card-body product_card-body">
              <h4 class="card-title"> <a routerLink="/sub-product" class="buybtn">{{item.name}}</a></h4>
            </div>
          </div>

        </div>


      }


      <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p2.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
            <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p3.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
            <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p4.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
             <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p5.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
             <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p6.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
             <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p7.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
             <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p4.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
             <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p1.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
             <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
        <div class="card product_card" routerLink="/product">
          <img src="assets/Products/p2.png" width="380px" height="332px" class="product-img" alt="">

          <div class="card-body product_card-body">
             <h4 class="card-title"> <a href="" class="buybtn">Air filters</a></h4>
          </div>
        </div>

      </div> -->

    </div>
  </div>
</section>
