<section class="position-relative">




  <swiper-container loop="true" autoplay="true" pagination="true" speed="1000"
    style="--swiper-pagination-color: #ffffff;" class="my-swiper-container" pagination-clickable="true"
    pagination-dynamic-bullets="true">
    <ng-container *ngIf="isBrowser && bannerlist.length > 0">
      <swiper-slide *ngFor="let item of bannerlist" class="swiper-item">
        <img ngSrc="{{item.image}}" class="banner-img" alt="" fill priority>

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner_content-wrapper">
                <h1 class="banner-title">{{ item.title }}</h1>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>


  <!-- <swiper-slide style="background:url('assets/banner-1.jpg');" class="swiper-item">
          <div class="container">
            <div class="row">
          <div class="col-lg-12">
            <div class="banner_content-wrapper">
              <h1 class="banner-title">Discover Authentic Spare Parts <br>
                Quality You Can Trust</h1>
            </div>
          </div>
        </div>
      </div>

      </swiper-slide>

    <swiper-slide style="background:url('assets/banner-2.png');" class="swiper-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner_content-wrapper">
              <h1 class="banner-title">Discover Authentic Spare Parts <br>
                Quality You Can Trust</h1>
            </div>
          </div>
        </div>
      </div>

    </swiper-slide> -->


</section>


<section class="pt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12  py-2 text-center">
        <h2 class="section-title">Genuine Spare Parts for Trusted Brands</h2>

        <p class="section-desc">We provide genuine spare parts from trusted industry leaders, ensuring unmatched
          reliability, performance, and longevity for your machinery</p>
      </div>

      <div class="col-lg-12 col-md-12 col-12 mt-4 position-relative">
        @if (isloading) {
        <app-loader></app-loader>
        }
        @defer () {
        <owl-carousel-o [options]="customOptions2">

          <ng-container *ngFor="let item of companySlider">
            <ng-template carouselSlide>

              <div class="item ">
                <div class="brand-card my-2">

                  <img src="{{item.image}}" class="brand-img" width="100%" height="100%" alt="Image"
                    routerLink="/company-products/{{item.name}}"/>
                  <!-- routerLink="/company-products/{{item.name}}" -->
                </div>

              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        }
        @loading {
        <app-loader></app-loader>

        }

      </div>
    </div>
  </div>

</section>


<!-- <section class="py-80" id="productSection">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="h2 text-uppercase section-title py-3">Products</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        @defer {
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let item of products">
            <ng-template carouselSlide>
              <div class="card product-card">
                <img src="{{item.image}}" alt="Image" class="product-img" width="315" height="333"
                   />

                <div class="card-body product-card-body">
                  <h5 class="" routerLink="/subcategory-products/{{item.Sub_category_name}}">{{item.Sub_category_name}}
                  </h5>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        } @loading {
        <app-loader />
        } @placeholder {

        <p>Placeholder content</p>
        }

      </div>
    </div>
  </div>
</section> -->


<section class="pt-80">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
        <h3 class="h2  section-title pb-4">About us</h3>
        <div class="img-wrapper d-block d-lg-none ">
          <img src="assets/about-section.png" alt="image">
        </div>
        <p class="about-para mt-lg-0 mt-3"> <span class="about-cmpny-name">Morris General Trading LLC </span> stands as
          a reliable sourcing agent with a strong and expanding
          presence in the Middle East, including the GCC, and an ever-growing global footprint. We are
          dedicated to creating significant value by offering competitive pricing, a diverse range of
          products, and exceptional service quality to our international business partners and clients.


        </p>

        <p class="about-para">
          In the fast-evolving business landscape, we navigate challenges daily with agility and
          commitment. As a sourcing agent, we prioritize transparency and fairness in every operation,
          building trust and long-lasting partnerships across the Middle East and beyond. Our guiding
          principle remains clear: delivering unparalleled value and sourcing solutions for our clients.

        </p>

        <a class="readmore-link" [routerLink]="['/about']" routerLinkActive="router-link-active"> Read more <svg
            width="28" class="ms-3 arrow" height="29" viewBox="0 0 28 29" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1383_149)">
              <path
                d="M18.6784 13.7832L-4 13.9498V14.9499V15.9498L18.6784 16.1165V19.6165L23.3334 14.9499L18.6784 10.2832V13.7832Z" />
            </g>
            <defs>
              <clipPath id="clip0_1383_149">
                <rect width="28" height="28" fill="white" transform="translate(0 0.950195)" />
              </clipPath>
            </defs>
          </svg></a>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-lg-0  mt-3">

        <div class="img-wrapper d-sm-none d-none d-lg-block">
          <img src="assets/about-section.png" alt="" data-aos="fade-left">
        </div>

      </div>

    </div>
  </div>
</section>



<section class="pt-80">

  <div class="container">
    <div class="row">
      <div>
        <h5 class="section-title pb-5">Contact us</h5>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12 pe-0 contact_wrap-column bg-prime">
        <div class="contact-wrapper">
          <ul class="ps-lg-0 ps-3">
            <li class="contact-item">
              <a href="mailto:info&#64;morriesuae.com" data-aos="fade-right"> <i class="bi bi-envelope me-2"></i>
                info&#64;morriesuae.com</a>
            </li>

            <li class="contact-item">
              <a href="tel:+971544760020" data-aos="fade-right"> <i class="bi bi-telephone me-2"></i>+971 544 760
                020</a>
            </li>

            <li class="contact-item">

              <p class="d-flex">
                <span>
                  <i class="bi bi-geo-alt-fill me-2"></i>

                </span>
                <span class="address" data-aos="fade-right" style="font-size: 15px;">
                  <!-- Morris General Training LLC <br>
                  Montana business centre <br>
                  Zaa’beel road Karama  <br>
                  Dubai, United Arab Emirates -->

                  Morris General Trading LLC, <br>
                  Office No. 146 3rd Floor, <br>
                  Unique Word Business Centre <br>
                  Al Karma | Dubai | United Arab Emirates

                </span>

              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9 col-md-6 col-sm-12 col-12 ps-0">

        <div class="">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.6334591289046!2d55.30601812538356!3d25.249267777677446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f432958555551%3A0x19d59190950ee7aa!2sUnique%20World%20Business%20Center%20LLC!5e0!3m2!1sen!2sin!4v1735566346747!5m2!1sen!2sin"
            width="100%" height="290" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="py-80">

  <div class="container">
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 my-lg-5">
        <div class="d-flex justify-content-center align-items-center ">

          <app-subscribe class=" mx-auto subscrbe-sec"></app-subscribe>
        </div>
      </div>



    </div>
  </div>
</section>
