
<footer class="" id="footerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-12 position-relative">
        <div class="py-70">
          <h5 class="ps-lg-0 ps-3">LOGO HERE</h5>

          <ul class="ps-lg-0 ps-3">
            <li class="footer-item">
              <a href="">  <i class="bi bi-envelope me-2"></i>  info&#64;morriesuae.com</a>
            </li>

            <li class="footer-item">
              <a href=""> <i class="bi bi-telephone me-2"></i>(+966) 9876543210</a>
            </li>

            <li class="footer-item">

              <p class="d-flex">
                <span>
                  <i class="bi bi-geo-alt-fill me-2"></i>

                </span>
                <span>
                  lorem ipsum (head Office) <br>
                  Registered Office - Head Office <br>
                  Lorem ipsum -678 678

                </span>

              </p >
            </li>
          </ul>

        </div>
         <span class="vertical-divider-line "></span>
      </div>

      <div class="col-lg-8 col-sm-12 col-12 py-70 ps-lg-5">
        <div class="row">
          <div class="col-lg-4  col-6">
            <ul>
              <h5 class="footer-title text-uppercase">Navigate</h5>

              <li class="footer-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="footer-link text-uppercase">Home</a></li>
              <li class="footer-item"><a [routerLink]="['/Products']" routerLinkActive="router-link-active"  class="footer-link text-uppercase">Products</a></li>
              <li class="footer-item"><a [routerLink]="['/About']" routerLinkActive="router-link-active"  class="footer-link text-uppercase">About Us</a></li>
              <li class="footer-item"><a [routerLink]="['/Contact']" routerLinkActive="router-link-active"  class="footer-link text-uppercase">Contact Us</a></li>
            </ul>

          </div>
          <div class="col-lg-4 col-6">
            <ul>
              <h5 class="text-uppercase">Assitance</h5>

              <li class="footer-item"><a href="" class="text-uppercase footer-link">Privacy Policy</a></li>
              <li class="footer-item"><a href="" class="text-uppercase footer-link">Faq</a></li>

            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <ul>
              <h5 class="text-uppercase">Follow Us</h5>

              <li class="footer-item"><a href="" class="text-uppercase footer-link">Facebook</a></li>
              <li class="footer-item"><a href="" class="text-uppercase footer-link">Instagram</a></li>
              <li class="footer-item"><a href="" class="text-uppercase footer-link">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
